# MongoDB Connection URI (e.g. MongoDB Atlas connection string or local mongodb://localhost:27017/skyestate)
MONGO=mongodb+srv://aryanrajput9200:aryan7838@cluster0.jgzrbez.mongodb.net/estate

# JWT Secret Key (used in auth/session)
JWT_SECRET=8ZHEo28vdRu7ZJivBakb5YJnED9AjLwb
